/* FONTS */

/* @import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");


/* GLOBAL STYLES */

:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Open Sans", serif;
  --font-code: "Open Sans", monospace;
  --bg-color: #1A1A1A;
  --bg-color-transparent: #141414;
  --font-color: #FFFFFF;
  --primary: #D27991;
  --btn-bg-color: var(--primary);
  --accent-color: #000000;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  position: relative;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  /* padding: 1rem 2rem; */
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

header {
  background: var(--accent-color);
  /* background-color: var(--bg-color);
  box-shadow: 0 4px 2px -2px var(--header-shadow); */
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 16px;
}

header .logo img {
  width: auto;
  height: 32px;
  display: none;
}

.custom-shape-divider-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
.custom-shape-divider-bottom .shape-fill {
  fill: #333333;
}
.custom-shape-divider-bottom.reverse svg {
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom.black .shape-fill {
  fill: #000000;
}
.custom-shape-divider-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}
.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
.custom-shape-divider-top.reverse svg {
  transform: rotateY(180deg);
}
.custom-shape-divider-top .shape-fill {
  fill: #000000;
}

.top {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: block;
  position: relative;
  background: #000;
  box-shadow: var(--header-shadow);
}
.center {
  width: 100%;
  height: auto;
  min-height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px;
}
.banner {
  height: auto;
  width: 100%;
  max-width: 880px;
  display: block;
  margin: 0 auto 40px;
}
.middle {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  padding: 100px 0 0;
}

.content {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 80px 40px;
  text-align: center;
  transform: none;
}
.content.right {
  width: calc(100% - 320px);
  float: right;
}
.inner {
  max-width: 680px;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}
.inner img {
  width: 100%;
  max-width: 480px;
  height: auto;
  display: none;
  margin: 0 auto 40px;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.content h1 {
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 0 0 16px;
  color: var(--primary);
}

.content h2 {
  font-size: 1.25rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.content h2 i {
  margin-right: 8px;
}

.content p {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-secondary);
  line-height: 1.8;
}

.content b {
  color: var(--primary);
}

#noMetamask {
  padding: 0;
}

/* BUTTONS */

.btn {
  display: inline-block;
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: .85rem;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 1rem 2rem;
  outline: none;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: var(--header-shadow);
  white-space: nowrap;
}
.btn:hover {
  box-shadow: none;
  background: var(--accent-color);
  color: var(--primary);
  border-color: var(--primary);
}
.btn:disabled {
  cursor: default;
}
.btn i {
  margin-right: 6px;
}

.primaryBtn {
  min-width: 216px;
}

.wallet-btn {
  margin-left: 2rem;
}
.wallet-btn2 {
  margin: 0 auto;
}

.active {
  box-shadow: none;
  background: var(--accent-color);
  color: var(--primary);
  border-color: var(--primary);
}

/* MODAL */
.modal {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  transition: .3s ease-in-out;
  z-index: 999;
}
.modal .close {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--primary);
  transition: .2s ease-in-out;
}
.modal .close:hover {
  cursor: pointer;
  color: #4D4D4D;
}
.modal-content {
  width: calc(100% - 32px);
  max-width: 640px;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #1A1A1A;
}
.modal-content h2 {
  font-size: 1.75rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 0 0 16px;
  color: #FFFFFF; /* var(--primary); */
}
#modalMobile h2 {
  font-size: 1.25rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 0 0 16px;
  color: var(--primary);
}
#modalMobile .modal-content i {
  margin-right: 8px;
}
#modalMobile p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: center;
}

/* CARD */

.card {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 3px solid var(--accent-color);
  box-shadow: var(--card-shadow);
  padding: 5rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
  padding-top: 0;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  width: 100%;
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  padding: 1rem;
  border-radius: 4px 4px 0 0;
  background: var(--bg-color-transparent);
  color: var(--font-color);
}
.countdown .clock-item .locked {
  font-weight: 500;
  color: #4D4D4D;
}
.countdown .clock-item .count-text {
  width: 100%;
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: .85rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5rem 0.7rem;
  border-radius: 0 0 4px 4px;
  background: var(--btn-bg-color);
  color: var(--bg-color);
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

.countdown-reveal {
  margin-bottom: 40px;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.info-container h3 {
  font-size: 1rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  color: var(--primary);
}
.info-container p {
  font-size: .85rem;
  font-weight: 700;
  text-transform: uppercase;
}

.mint-qty {
  display: block;
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 5px;
  white-space: nowrap;
}

.mint-qty-input {
  width: calc(100% - 132px);
  display: block;
  position: relative;
  float: left;
}
.mint-qty-input .btn {
  font-size: 1rem;
  font-style: none
}
.mint-max-btn {
  width: 100%;
  max-width: 100px;
  font-size: 1rem;
  padding-left: 0;
  padding-right: 0;
  float: right;
}

.mint-btn {
  text-align: center;
  /* margin: auto; */
}

.input-number {
  height: 100%;
  width: auto;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
  background: #FFF;
}
.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}
.total-price-container h3 {
  font-size: 1.25rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  color: var(--primary);
}
.total-price-container p {
  font-size: 1.25rem;
  font-weight: 800;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: #FFF;
}

.mint-success-container h3 {
  display: block;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 0 0 32px;
  color: var(--primary);
}
.mint-success-container h4 {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 0 8px;
  color: #FFF;
}
.mint-success-container input {
  width: 100%;
  display: block;
  font-size: .85rem;
  font-weight: 800;
  padding: 16px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--accent-color);
  color: var(--primary);
}

.dot-container {
  width: 98px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 16px 0;
}
.dot-elastic {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  border-radius: 24px;
  background-color: var(--primary);
  color: var(--primary);
}
.dot-elastic::before {
  left: -32px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: var(--primary);
  color: var(--primary);
}
.dot-elastic::after {
  left: 32px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: var(--primary);
  color: var(--primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
}

/* SLIDDER */
.slider {
  width: 320px;
  height: 960px;
  display: block;
  position: relative;
  float: left;
  z-index: 2;
  overflow: hidden;
}
.splide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.splide__track {
  /* height: calc(100% - 40px) !important; */
  height: 100% !important;
}

.splide__slide {
  /* border: var(--accent-color) solid;
  border-width: 2px; */
  /* border-width: 5px 10px; */
}

.splide__slide img {
  width: 100%;

}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

/* MEDIA QUERIES */

@media all and (max-height: 580px) {
  .top {
    min-height: 580px;
  }
}

@media all and (max-width: 920px) {
  .top {
    height: auto;
    min-height: 100vh;
  }
}
@media all and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .btn {
    font-size: .8rem;
    margin-left: 0;
    padding: 0.5rem 1rem;
  }
  .primaryBtn {
    min-width: 180px;
  }
  .content.right {
    width: 100%;
    float: none;
    padding-bottom: 200px;
  }
  .slider {
    display: none;
  }
  .inner img {
    display: block;
  }

  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
  .countdown h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }
}
@media all and (max-width: 672px) {
  .full {
    background: #1A1A1A;
  }
  .full .modal-content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 580px) {
  .custom-shape-divider-bottom svg {
    height: 40px;
  }
  .custom-shape-divider-top svg {
    height: 40px;
  }
}
@media all and (max-width: 480px) {
  .content.right {
    padding: 60px 16px 180px;
  }
  .input-number {
    max-width: 48px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media all and (max-width: 420px) {
  #noMetamaskH1 {
    font-size: 1.75rem;
  }
  #noMetamaskH2 {
    font-size: 1rem;
  }
}

/* UTILITIES */

.hidden {
  display: none;
}
